* {
  box-sizing: border-box;
  text-align: center;
  
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 5%;
  background-color: rgb(127, 166, 197);
  border-radius : 70%;
  border-color: gray;
  padding : 5% 10% 0 10%;

  
}

button {
	
	border: 1%;
	border-radius: .5rem;
  border-color: darkblue;
	color: rgb(120, 176, 83);
	cursor: pointer;
	font-size: 16px;
	font-weight: 600;
	padding: 10px 15px;
	font-size: 1rem;

}

button:hover {
	opacity: .8;
}

.startBtn {
  background-color: rgb(243, 245, 247);
  border-radius: 10%;
  border: none;
}
.startBtn:hover {
	opacity: .8;
  color: rgb(199, 59, 169);
}

h1,
h2,
h3,
h4 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    
}


h3 {
  color: rgb(12, 14, 13);
}
